@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Alex A Somoza
   Date: 11-09-18
	
   Filename: br_styles.css

*/

/* html styles */
html {
    background: linear-gradient()
}


/* body styles */
body {
    background: url(br_paper.png);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 4% 5px 4%;
    min-width: 1300px;
    box-shadow: rgb(144, 129, 98) 20px 9px 20px, rgb(144, 129, 98) -20px 9px 20px;
}

body section#views {
    perspective: 1000px;
}

body section#selling {
    padding: 20px 1% 20px 1%;
    width: 45%;
    display: inline-block;
    background-color: rgba(215, 159, 47, 0.3);
    border: 5px solid rgba(215, 159, 47, 0.3);
    border-radius: 20px;
}

body section#selling p {
    text-indent: 26px;
}

body section#selling p::first-letter {
    font-size: 25px
}

body section#listing_descr {
    padding: 20px 1% 20px 1%;
    display: inline-block;
    width: 37%;
    float: right;
    background: radial-gradient(circle closest-corner at 50% 50%, white 15%, lightgray 50%);
    border: 3px solid rgba(215, 159, 47, 0.3);
    border-radius: 20px;
    box-shadow: rgb(144, 129, 98) 10px 10px 10px;

}

section#nav2 {
    padding: 20px 0px 0px 0px;

}

/* Nav styles */
nav ul {
    width: 100%;
}

nav ul li {
    display: inline-block;
    width: 19.4%;
    text-align: center;
    background-color: rgb(232, 178, 70);
    border: 10px groove rgb(215, 159, 47);
    padding: 8px 0px 8px 0px;
    border-radius: 30px;
}

nav ul li a {
    color: rgb(255, 242, 204);
}

section#nav2 nav ul li {
    width: 24.5%;
}

/* Figure styles */
figure {
    display: inline-block;
    border: 6px double rgb(215, 159, 47);
    padding: 20px 3.2% 8px 3.2%;
    margin: 30px 0px 30px 0px;
}

figure#left {
    transform: rotateY(40deg) translateZ(-100px);

}

figure#right {
    transform: rotateY(-40deg) translateZ(-100px);
}

figure#center {
    transform: translateZ(-90px);
}

figure#center-top {
    transform: rotateX(-30deg) translateZ(-100px) translateY(50px);
}

figure#center-bottom {
    transform: rotateX(30deg) translateZ(-100px) translateY(-50px);
}

figure img {
    opacity: 0.8;
    padding-bottom: 6px;
}

figcaption {
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    opacity: 0.7;
    text-shadow: black 2px 2px 4px;
}